<!DOCTYPE html>
<html>
<head>
  <title>ポーカー役判定</title>
  <link rel="stylesheet" media="all" href="/assets/application-77c1f0b9f6edb2095e34d8740e9aec6c5b2edcc91b3fa0e29c2e1131cc8f00cf.css">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="RtHoNU7iIgV5gbAWKQ1xNdwzek56YPKgxspnZRcNWTlMqTj3Eq9v4eH7Ig8AwdCFq/TReZW2kkLRjBDTuKK6IA==">
</head>
<body data-__gyazo-extension-added-paste-support="true">

<div id="wrapper">
  <div id="header">
    <h1><i class="fa fa-flip-horizontal fa-hand-lizard-o"></i> Check a Porker Hand <i class="fa fa-hand-lizard-o"></i>
    </h1>
  </div>
  <div id="contents">
    <div id="form">
      <form action="/check" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="authenticity_token" value="GE+HMmwejANb7gQw3bipDY273aFOqWxO1nRuIKaht8ASN1fwMFPB58OUlin0dAi9+nx2lqF/DKzBMhmWCQ5U2Q==">
        <!--<p><label for="cards">Cards:</label></p>-->
        <p><input type="text" name="cards" id="cards" value="<%= @cards %>" placeholder="S10 H11 D12 C13 H1">
        </p>
        <p><input type="submit" name="commit" value="Check" id="check"></p>
      </form>
    </div>
    <div id="hand"><p><%= @role %></p></div>
    <div class="alert">

      <p>
        <% @errors.each do |a| %>
          <%= a[:message] %>
          <br>

        <% end %></p></div>
  </div>
  <div id="footer">
    <small>©Copyright 2018 porkerhands All Rights Reserved.</small>
  </div>
</div>


</body>
</html>
